<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>19F6388D-7F91-4332-8D87-62F6DB695118</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7207CF52-90AE-4F8E-A76D-29F892C2FC24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Shortcut for TotalMix</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Mixer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Totalmix.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7207CF52-90AE-4F8E-A76D-29F892C2FC24</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mixer</string>
				<key>subtext</key>
				<string>/Applications/Totalmix.app</string>
				<key>text</key>
				<string>Totalmix</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19F6388D-7F91-4332-8D87-62F6DB695118</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19F6388D-7F91-4332-8D87-62F6DB695118</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7207CF52-90AE-4F8E-A76D-29F892C2FC24</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
