modules
common/ipython/profile_default/history.sqlite
common/ipython/profile_default/startup/
common/ipython/profile_default/db/
pip
*.pyc
platform/osx/alfred/Alfred.alfredpreferences/workflows/alfred-github-workflow
common/matplotlib/fontList.cache
