<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hideStore</key>
	<true/>
	<key>hotkey</key>
	<dict>
		<key>key</key>
		<integer>36</integer>
		<key>mod</key>
		<integer>1310720</integer>
		<key>string</key>
		<string>↩</string>
	</dict>
	<key>showPlaylists</key>
	<false/>
</dict>
</plist>
