<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>368E65A4-D178-4484-ABD2-47A8510B37E4</key>
		<array/>
		<key>9050A220-A08B-47B7-9E96-5092781FF88D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>368E65A4-D178-4484-ABD2-47A8510B37E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rosenkrieger</string>
	<key>description</key>
	<string>Turns Airpot on/off</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Toggler Wifi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>device=$(networksetup -listallhardwareports |
grep -E '(Wi-Fi|AirPort)' -A 1 | grep -o en.)
[[ "$(networksetup -getairportpower $device)" == *On ]] &amp;&amp; v=off || v=on
networksetup -setairportpower $device $v</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>368E65A4-D178-4484-ABD2-47A8510B37E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>text</key>
				<string>Toggling Wifi on/off</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9050A220-A08B-47B7-9E96-5092781FF88D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>368E65A4-D178-4484-ABD2-47A8510B37E4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9050A220-A08B-47B7-9E96-5092781FF88D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.rosenblut.org</string>
</dict>
</plist>
