<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4DF00E6B-0890-4B80-9C98-19D84F04ACFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2502B5B3-1F2F-4C8F-89EF-CFBDAB0BCEC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92317938-A1AD-4D6C-BDB0-878314724543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2502B5B3-1F2F-4C8F-89EF-CFBDAB0BCEC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F54473F5-E3DA-416A-AF70-DE466A92680A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2502B5B3-1F2F-4C8F-89EF-CFBDAB0BCEC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zach Kelling</string>
	<key>description</key>
	<string>Edit files with MacvVim.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MacVim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export PATH=/usr/local/share/npm/bin:/Users/zk/.cabal/bin:/Users/zk/Library/Haskell/bin:/usr/local/share/python:/Users/zk/.zsh/plugins/osx/lib:/Developer/usr/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/sbin:/Users/zk/.bin:/Users/zk/.ellipsis/scripts:/usr/bin:/bin:/usr/sbin:/sbin:/Users/zk/.zsh/plugins/vi-mode/lib:/Users/zk/.zsh/plugins/clojure/bin:/Users/zk/.zsh/plugins/git/lib:/Users/zk/.zsh/plugins/git/commands:/Users/zk/.ellipsis/bin

export GEM_HOME=/usr/local
export NODE_PATH=/usr/local/share/npm/lib/node_modules

cd ~

local servername="`vim --serverlist | head -n 1`"
if [ "$servername" ]; then
	if [ -z "{query}" ]; then
	    /usr/local/bin/mvim --servername "$servername" &gt; /dev/null 2&gt;&amp;1
	else
	    /usr/local/bin/mvim --servername "$servername" --remote-silent {query} &gt; /dev/null 2&gt;&amp;1
	fi
else
    /usr/local/bin/mvim {query} &gt; /dev/null 2&gt;&amp;1
fi</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2502B5B3-1F2F-4C8F-89EF-CFBDAB0BCEC5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string>Edit with MacVim</string>
				<key>text</key>
				<string>MacVim</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>92317938-A1AD-4D6C-BDB0-878314724543</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>macvim</string>
				<key>subtext</key>
				<string>Edit with MacVim</string>
				<key>text</key>
				<string>MacVim</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F54473F5-E3DA-416A-AF70-DE466A92680A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Edit with MacVim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4DF00E6B-0890-4B80-9C98-19D84F04ACFB</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2502B5B3-1F2F-4C8F-89EF-CFBDAB0BCEC5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4DF00E6B-0890-4B80-9C98-19D84F04ACFB</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>92317938-A1AD-4D6C-BDB0-878314724543</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F54473F5-E3DA-416A-AF70-DE466A92680A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://whatit.is</string>
</dict>
</plist>
