<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>30E07DC7-55BA-431E-B978-D343FFA85689</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ratebeer</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search ratebeer for '{query}'</string>
			<key>url</key>
			<string>http://www.ratebeer.com/findbeer.asp?beerName={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4AF19F96-ADD9-4DE3-A70F-D09078862029</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tt</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Tokyo Tosho for '{query}'</string>
			<key>url</key>
			<string>http://www.tokyotosho.info/search.php?type=0&amp;terms={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8B734C30-D19A-4D27-9BCE-C4D435C8A6DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>adb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search AniDB for '{query}'</string>
			<key>url</key>
			<string>http://anidb.net/perl-bin/animedb.pl?show=animelist&amp;do.search=search&amp;adb.search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
